/* CSS files add styles to your content */
body {
    text-align: justify;
    font-family: Garamond, sans-serif;
    font-size: 23px;
    margin: 2em;
    background-color: rgb(76, 76, 99); /* apply background styles to your elements */
    color: white;
  }
  
  h1 {
    text-decoration: wavy overline rgb(100, 100, 129);
    text-align: center;
    font-family: Courier New, serif;
    font-size: 35px;
    color: hsl(243, 100%, 96%);
  }

  h2 {
    text-align: center;
    font-family: Courier New, serif;
    font-size: 25px;
    color: #d7d5ff;
  }

  h3 {
    text-align: left;
    font-family: Courier New, serif;
    font-size: 25px;
    color: #dcdcff;
  }
  

  